* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: linen;
    
}

header {
    color: lightyellow;
    background-color: lightslategray;
    text-shadow: 1px 1px 1px 5px lightgray;
    box-shadow: linen;
    text-indent: 10px;
    position: relative;
    width:100%;
}


h1 {
    display: grid;
    font-family: 'Niconne', cursive;
    font-size: 100px;
}

form {
    margin-left: 800px;
    margin-top: 0%;
    background-color: linen;

}

input[type="text"] {
    font-family: 'Niconne', cursive;
    font-size: 40px;
    width: 350px;
    height: 45px;
    margin-left: 3px;
    margin-top: 5px;
    box-shadow: 1px 1px 1px 5px linen;
    background-color: linen;
    
}

input[type="submit"] {
    font-family: 'Tajawal', sans-serif;
    background-color: linen;
    

}

h2 {
    font-family: 'Tajawal', sans-serif;
    color: darkolivegreen;
}
h2.hover {
    text-shadow: lightgrey;
}

#articles-container {
    display: grid;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: auto;
    text-align: center;
    width: 50%;
    font-family: 'Tajawal', sans-serif;

}

img {
    margin-top: -20%;
    margin-bottom: 10%;
    justify-content: left;
    width: 40%;
    height: 100vh; 
    align-items: left;
    position: fixed;
    z-index: -1;
    background-size: cover;

    
  }

footer {
    background-color: lightslategray;
    position: fixed;
    width: 100vw;
    bottom: 0;
    text-align: right;
}

